body {
  width: 50%;
}

.half {
  padding-left: 50px;
  width: 50%;
}

.disabled {
  cursor: not-allowed!important
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: fixed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 5px solid #ebf2fa;
  border-top-color: #1add9f;
  border-right-color: #b490f5;
  border-bottom-color: #ff8463;
  animation: spinner .5s linear infinite;
}