body {
  background-color: #f4f5f6;
  margin-left: 1em;
}

.disabled {
  cursor: default;
  opacity: .5
}

.spinner {
  width: 3em;
  height: 2em;
  background: linear-gradient(#0074d9, #0074d9) 0 50%, linear-gradient(#0074d9, #0074d9) 0.625em 50%, linear-gradient(#0074d9, #0074d9) 1.25em 50%, linear-gradient(#0074d9, #0074d9) 1.875em 50%, linear-gradient(#0074d9, #0074d9) 2.5em 50%;
  background-repeat: no-repeat;
  background-size: 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  25% {
    background: linear-gradient(#0074d9, #0074d9) 0 50%, linear-gradient(#0074d9, #0074d9) 0.625em 50%, linear-gradient(#0074d9, #0074d9) 1.25em 50%, linear-gradient(#0074d9, #0074d9) 1.875em 50%, linear-gradient(#0074d9, #0074d9) 2.5em 50%;
    background-repeat: no-repeat;
    background-size: 0.5em 2em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em;
  }
  37.5% {
    background: linear-gradient(#0074d9, #0074d9) 0 50%, linear-gradient(#0074d9, #0074d9) 0.625em 50%, linear-gradient(#0074d9, #0074d9) 1.25em 50%, linear-gradient(#0074d9, #0074d9) 1.875em 50%, linear-gradient(#0074d9, #0074d9) 2.5em 50%;
    background-repeat: no-repeat;
    background-size: 0.5em 0.25em, 0.5em 2em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em;
  }
  50% {
    background: linear-gradient(#0074d9, #0074d9) 0 50%, linear-gradient(#0074d9, #0074d9) 0.625em 50%, linear-gradient(#0074d9, #0074d9) 1.25em 50%, linear-gradient(#0074d9, #0074d9) 1.875em 50%, linear-gradient(#0074d9, #0074d9) 2.5em 50%;
    background-repeat: no-repeat;
    background-size: 0.5em 0.25em, 0.5em 0.25em, 0.5em 2em, 0.5em 0.25em, 0.5em 0.25em;
  }
  62.5% {
    background: linear-gradient(#0074d9, #0074d9) 0 50%, linear-gradient(#0074d9, #0074d9) 0.625em 50%, linear-gradient(#0074d9, #0074d9) 1.25em 50%, linear-gradient(#0074d9, #0074d9) 1.875em 50%, linear-gradient(#0074d9, #0074d9) 2.5em 50%;
    background-repeat: no-repeat;
    background-size: 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 2em, 0.5em 0.25em;
  }
  75% {
    background: linear-gradient(#0074d9, #0074d9) 0 50%, linear-gradient(#0074d9, #0074d9) 0.625em 50%, linear-gradient(#0074d9, #0074d9) 1.25em 50%, linear-gradient(#0074d9, #0074d9) 1.875em 50%, linear-gradient(#0074d9, #0074d9) 2.5em 50%;
    background-repeat: no-repeat;
    background-size: 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 2em;
  }
}