.disabled {
  cursor: not-allowed!important
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: fixed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 5px solid #96a8b2;
  border-top-color: #2196f3;
  border-right-color: #ff9800;
  border-bottom-color: #4caf50;
  animation: spinner .5s linear infinite;
}